* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: #2f4f4f;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.carre:hover {
    cursor: pointer;
}
